
.color {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin: 1rem;
}

#tempImg {
  width: 10rem;
  height: auto;
}


.left {
  float:left;
  width: 40vw;
}
.right {
  float: left;
  padding-top: 5rem;
  padding-left: 2rem;
}

.left video {width: 100%;}
